@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  text-align: center;
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.6)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  color: var(--color-white);
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
}

#form {
  font-family: "Josefin Sans", sans-serif;
  margin: 2rem auto 0;
  width: 55%;
  height: 100%;
  background-color: var(--color-darkblue-alpha);
  border-radius: 4px;
}

#title {
  margin: 2rem 0 0.8rem;
}

#description {
  font-size: 1.1rem;
  font-style: italic;
}

span {
  font-size: 1.2rem;
}

label {
  font-size: 1.2rem;
  padding: 2rem 0 0 3rem;
  text-align: left;
  margin-bottom: 1.1rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
  border-radius: 8px;
  height: 2.7rem;
  /* width: 40.5rem; */
  width: 87%;
  margin: 0 auto;
  font-size: 1.1rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  color: var(--color-darkblue);
}

.recommend {
  display: flex;
  flex-direction: column;
}

.recommend label {
  padding-top: 0;
  font-size: 1.3;
}

input[type="radio"] {
  width: 1.2rem;
  height: 1.2rem;
}

.projects {
  display: flex;
  flex-direction: column;
}

.projects label {
  padding-top: 0;
  font-size: 1.3;
}

input[type="checkbox"] {
  width: 1.3rem;
  height: 1.3rem;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  margin: 0 auto;
  border-radius: 3px;
  width: 87%;
  font-size: 1.2rem;
  padding: 0.7rem;
  height: 8rem;
  color: var(--color-darkblue);
}

textarea:focus {
  outline: none;
}

button {
  outline: none;
  border: none;
  border-radius: 3px;
  width: 87%;
  height: 2.5rem;
  font-size: 1.3rem;
  color: var(--color-white);
  background-color: var(--color-green);
  margin: 2rem 0 4rem;
}

@media screen and (max-width: 1100px) {
  #form {
    width: 80%;
  }
}

@media screen and (max-width: 780px) {
  #form {
    width: 100%;
  }

  #title {
    font-size: 1.8rem;
  }

  #description {
    font-size: 1.1rem;
  }

  input,
  select,
  textarea,
  button {
    max-width: 80%;
  }

  label {
    margin: 1rem 0 0.5rem;
  }

  .projects label,
  .recommend label {
    margin: 0.2rem 0;
  }
}

/* @media screen and (max-width: 510px) {
  #form {
    width: 100%;
  }

  #title {
    font-size: 1.4rem;
  }

  #description {
    font-size: 1.1rem;
  }

  input,
  select,
  textarea,
  button {
    max-width: 73%;
  }

  label {
    margin: 1rem 0 0.3rem;
  }

  textarea {
    font-size: 1.1rem;
  }
} */
